<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footerJ text-muted text-center" th:fragment="footer">
    <div class="container">
        <span>No rights reserved. Please visit our </span>
        <span class="text-muted"><a href="#">Terms and Conditions</a></span>
        <span> to find out why you don't want anything from this website</span>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>
