<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}"></title>

    <!--    Latest Bootstrap webjar    -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"
          th:href="@{/css/style.css}" media="screen">
</head>
</html>
