<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="d-none" th:fragment="lectures">
    <div th:unless="${#lists.isEmpty(lectures)}">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <th>id</th>
            <th>DateTime</th>
            <th>Room</th>
            </thead>
            <tr th:each="lecture: ${lectures}">
                <td th:text="${lecture.id}">id</td>
                <td th:text="${lecture.dateTime}">DateTime</td>
                <td th:text="${lecture.room}">Room</td>
            </tr>
        </table>
    </div>
</div>
