<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="courseDeleteModal" class="modal" th:id="'confirm-delete-'+${course.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to delete <span class="font-weight-bold" th:text="${course.name}">this row</span>,
                    this
                    procedure is
                    irreversible.</p>
                <p class="font-italic text-muted">(Ok, fine, you can easily reverse it by restarting tomcat.)</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/course/__${course.id}__/delete}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="courseEditModal" class="modal" style="overflow-y: auto;" th:id="'edit-'+${course.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form th:action="@{/course/__${course.id}__/update}" method="POST" th:object="${newCourse}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row form-inline d-flex justify-content-center">
                        <div class="input-group ml-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="id-addon" th:text="${course.id}">id</span>
                            </div>
                            <input type="text" class="form-control" th:placeholder="${course.name}"
                                   aria-describedby="id-addon" th:field="*{name}">
                        </div>
                        <div class="input-group">
                            <a target="_blank" class="btn btn-outline-primary m-2 d-block"
                               th:unless="${#lists.isEmpty(course.registeredStudents)}"
                               th:href="@{/course/__${course.id}__/students}">Registered Students</a>
                        </div>
                        <div class="input-group">
                            <select class="form-control" style="width: 70%;"
                                    th:field="*{professorId}">
                                <option th:value="${course.professor}" selected>Professor</option>
                                <option th:each="professorFromList: ${professors}" th:text="${professorFromList}"
                                        th:value="${professorFromList.id}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <a target="_blank" class="btn btn-outline-primary ml-2"
                               th:unless="${#lists.isEmpty(course.lectures)}"
                               th:href="@{/course/__${course.id}__/lectures}">Lectures</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="removeStudentFromCourseModal" class="modal" th:id="'confirm-delete-'+${student.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to remove <span class="font-weight-bold" th:text="|${student.firstName} ${student.lastName}|">this row</span>,
                    from the course <span class="font-weight-bold" th:text="${course.name}"></span>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/course/__${course.id}__/removeStudent/__${student.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>