<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="courseDeleteModal" class="modal" th:id="'confirm-delete-'+${course.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to delete <span class="font-weight-bold" th:text="${course.name}">this row</span>,
                    this
                    procedure is
                    irreversible.</p>
                <p class="font-italic text-muted">(Ok, fine, you can easily reverse it by restarting tomcat.)</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/course/__${course.id}__/delete}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="courseEditModal" class="modal" style="overflow-y: auto;" th:id="'edit-'+${course.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form th:action="@{/course/__${course.id}__/update}" method="POST" th:object="${newCourse}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row form-inline d-flex justify-content-center">
                        <div class="input-group ml-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="id-addon" th:text="${course.id}">id</span>
                            </div>
                            <input type="text" class="form-control" th:placeholder="${course.name}"
                                   aria-describedby="id-addon" th:field="*{name}">
                        </div>
                        <div class="input-group">
                            <a target="_blank" class="btn btn-outline-primary m-2 d-block"
                               th:unless="${#lists.isEmpty(course.registeredStudents)}"
                               th:href="@{/course/__${course.id}__/students}">Registered Students</a>
                        </div>
                        <div class="input-group">
                            <select class="form-control" style="width: 70%;"
                                    th:field="*{professorId}">
                                <option th:value="${course.professor}" selected>Professor</option>
                                <option th:each="professorFromList: ${professors}" th:text="${professorFromList}"
                                        th:value="${professorFromList.id}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <a target="_blank" class="btn btn-outline-primary ml-2"
                               th:unless="${#lists.isEmpty(course.lectures)}"
                               th:href="@{/course/__${course.id}__/lectures}">Lectures</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="removeStudentFromCourseModal" class="modal" th:id="'confirm-delete-'+${student.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to remove <span class="font-weight-bold"
                                                 th:text="|${student.firstName} ${student.lastName}|">this row</span>,
                    from the course <span class="font-weight-bold" th:text="${course.name}"></span>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/course/__${course.id}__/removeStudent/__${student.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="removeLectureFromCourseModal" class="modal" th:id="'confirm-delete-'+${lecture.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to remove <span class="font-weight-bold"
                                                 th:text="|lecture with id ${lecture.id}|"></span>,
                    from the course <span class="font-weight-bold" th:text="${courseName}"></span>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/course/__${course.id}__/removeLecture/__${lecture.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!--LectureCRUD modals-->
<div th:fragment="deleteLectureModal" class="modal" th:id="'confirm-delete-'+${lecture.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to delete <span class="font-weight-bold"
                                                 th:text="|lecture with id ${lecture.id}|"></span>,
                    this procedure is irreversible.
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/lecture/deleteLecture/__${lecture.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="lectureEditModal" class="modal" style="overflow-y: auto;" th:id="'edit-'+${lecture.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form th:action="@{/lecture/__${lecture.id}__/update}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row form-inline d-flex justify-content-center">
                        <div class="input-group ml-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="id-addon" th:text="${lecture.id}">id</span>
                            </div>
                            <input type='text' class="form-control" name="dateTime"
                                   th:placeholder="${lecture.dateTime}" aria-describedby="id-addon"
                                   onchange="checkDate()"/>
                        </div>
                        <div class="input-group m-3">
                            <select required class="form-control" name="roomId" onchange="checkDate()">
                                <option th:value="${lecture.room}" selected>Available Rooms</option>
                                <option th:each="room: ${rooms}" th:text="${room}"
                                        th:value="${room.id}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group m-3">
                            <input type="text" class="form-control" readonly
                                   th:value="${courseService.findCourseByLectureId(__${lecture.id}__).name}"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="saveChangesBtn" type="submit" class="btn btn-success btn-ok"
                            data-toggle="tooltip" data-placement="top" title="Enter date and time in the correct format
                            and select a room">Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--ProfessorCRUD modals-->
<div th:fragment="professorDeleteModal" class="modal" th:id="'confirm-delete-'+${professor.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to delete
                    <span class="font-weight-bold" th:text="|Professor ${professor.firstName} ${professor.lastName}|"></span>,
                    this procedure is irreversible.
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/professor/deleteProfessor/__${professor.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="professorEditModal" class="modal" style="overflow-y: auto;" th:id="'edit-'+${professor.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form th:action="@{/professor/__${professor.id}__/update}" method="POST" th:object="${newProfessor}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row form-inline d-flex justify-content-center">
                        <div class="input-group ml-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="id-addon" th:text="${professor.id}">id</span>
                            </div>
                            <input type='text' class="form-control" name="firstName" th:field="*{firstName}"
                                   th:placeholder="${professor.firstName}" aria-describedby="id-addon" required/>
                        </div>
                        <div class='input-group m-3'>
                            <input type='text' class="form-control" name="lastName" th:field="*{lastName}"
                                   th:placeholder="${professor.lastName}" required/>
                        </div>
                        <div class='input-group m-3'>
                            <input type='text' class="form-control" name="email" th:field="*{email}"
                                   th:placeholder="${professor.email}" required/>
                        </div>
                        <div class="input-group m-3">
                            <input type='text' class="form-control" name="password" th:field="*{password}"
                                   th:placeholder="${professor.password}" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--RoomCRUD modals-->
<div th:fragment="roomDeleteModal" class="modal" th:id="'confirm-delete-'+${room.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to delete
                    <span class="font-weight-bold" th:text="|Room ${room.name}|"></span>,
                    this procedure is irreversible.
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a th:href="@{/room/deleteRoom/__${room.id}__}">
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="roomEditModal" class="modal" style="overflow-y: auto;" th:id="'edit-'+${room.id}" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form th:action="@{/room/__${room.id}__/update}" method="POST" th:object="${newRoom}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row form-inline d-flex justify-content-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="id-addon" th:text="${room.id}">id</span>
                            </div>
                            <input type='text' class="form-control" name="firstName" th:field="*{name}"
                                   th:placeholder="${room.name}" aria-describedby="id-addon" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>