<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="d-none" th:fragment="professors">
    <div th:unless="${#lists.isEmpty(professors)}">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <th>id</th>
            <th>Role</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            </thead>
            <tr th:each="professor: ${professors}">
                <td th:text="${professor.id}">id</td>
                <td th:text="${professor.role}">Role</td>
                <td th:text="${professor.firstName}">First Name</td>
                <td th:text="${professor.lastName}">Last Name</td>
                <td th:text="${professor.email}">Email</td>
                <td th:text="${professor.password}">Password</td>
            </tr>
        </table>
    </div>
</div>
