<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="d-none" th:fragment="rooms">
    <div th:unless="${#lists.isEmpty(rooms)}">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <th>id</th>
            <th>Name</th>
            </thead>
            <tr th:each="room: ${rooms}">
                <td th:text="${room.id}">id</td>
                <td th:text="${room.name}">Name</td>
            </tr>
        </table>
    </div>
</div>
