<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/standardLayout :: page(title='CourseCRUD')">
<div class="container" th:fragment="main">
    <div class="jumbotron">
        <h1>CourseCRUD Operations:</h1>
        <hr/>

        <!--        First Row         -->
        <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="text" placeholder="Search Courses" readonly>
            </div>
        </div>

        <!--        Second Row         -->
        <div class="form-row">
            <form method="post" th:action="@{/course/searchCoursesById/}">
                <div class="form-group input-group sm-10">
                    <input type="text" name="id" class="form-control" placeholder="enter the id to search" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search By Id</button>
                    </div>
                </div>
            </form>
            <div class="form-group col-sm-2">
                <a th:href="@{/course/searchAll/}">
                    <button class="btn btn-outline-secondary btn-block" type="submit">Search All</button>
                </a>
            </div>
        </div>

        <div th:replace="fragments/coursesTable :: courses"></div>
    </div>

</div>
</div>
