<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/standardLayout :: page(title='CourseCRUD')">
<div class="container" th:fragment="main">
    <div class="jumbotron">
        <h1>CourseCRUD Operations:</h1>
        <hr/>

        <!--        First Row         -->
        <div class="form-row">
            <div class="form-group col-md-12">
                <input class="form-control" type="text" placeholder="Search Courses" readonly>
            </div>
        </div>

        <!--        Second Row         -->
        <div class="form-row">
            <form method="post" th:action="@{/course/searchCoursesById/}">
                <div class="form-group input-group col-sm-10">
                    <input type="text" name="id" class="form-control" placeholder="enter the id" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search By Id</button>
                    </div>
                </div>
            </form>
            <div class="form-group col-sm-2">
                <a th:href="@{/course/searchAll/}" class="text-decoration-none">
                    <button class="btn btn-outline-secondary btn-block" type="submit">Show All</button>
                </a>
            </div>
        </div>

        <div th:replace="fragments/coursesTable :: courses"></div>

        <form th:action="@{/course/addNew/}" method="POST">
            <div class="row form-inline d-flex justify-content-center">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter the name of the course"
                           required>
                </div>
                <div class="input-group">
                    <select class="form-control" name="professorId" id="professorSelect" required onchange="enableButton()">
                        <option selected>Choose professor</option>
                        <option th:each="professorFromList: ${professors}" th:text="${professorFromList}"
                                th:value="${professorFromList.id}">
                        </option>
                    </select>
                </div>
                <div class="input-group m-3">
                    <button type="submit" class="btn btn-success btn-ok" disabled
                            id="addCourseBtn"
                            data-toggle="tooltip" data-placement="top"
                            title="You will be able to add students and lectures later">Add Course
                    </button>
                </div>
            </div>

            <script>
                function enableButton() {
                    let select = document.getElementById('professorSelect');
                    let btn = document.getElementById('addCourseBtn');
                    btn.disabled = select.value === "Choose professor";
                }
            </script>
        </form>
    </div>

</div>
