<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/standardLayout :: page(title='Schedule')">

<div class="container" th:fragment="main">

    <div class="jumbotron">
        <h1>Schedule</h1>
        <hr/>
        <form method="get" th:action="@{/schedule/showSchedule}" th:object="${scheduleRequestDTO}">

            <div class="form-group row">
                <label for="dateFrom" class="col-sm-3 col-form-label">Date from</label>
                <label for="dateTo" class="col-sm-3 col-form-label">Date to</label>
                <div class="col-sm-2 col-form-label"></div>
            </div>


            <div class="form-group row">
                <div class="col-sm-3">
                    <input class="form-control" type="date" id="dateFrom" name="dateFrom" required
                           th:field="*{dateFrom}" onchange="setHiddenFields()">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" id="dateTo" name="dateTo" required th:field="*{dateTo}">
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="personIndex" id="personSelect"
                            onchange="setHiddenFields()">
                        <option th:each="person: ${persons}" th:text="${person}"
                                th:value="${person.role} + ' ' + ${person.id}">
                        </option>
                    </select>
                </div>
                <input hidden type="text" value="" id="inputId" th:field="*{id}"/>
                <input hidden type="text" value="" id="inputRole" th:field="*{role}"/>
                <div class="col-sm-2">
                    <button id="showScheduleBtn" class="btn btn-outline-secondary" type="submit">Show
                        Schedule
                    </button>
                </div>
            </div>
        </form>

        <div th:if="${schedule}">
            <div class="mt-3">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>Date</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Course Name</th>
                    </thead>
                    <tbody th:each="daySchedule : ${schedule}">
                    <tr th:each="lecture : ${daySchedule.getLectures()}">
                        <td th:if="${lectureStat.index} == 0" th:text="${daySchedule.localDate}">Date</td>
                        <td th:unless="${lectureStat.index} == 0" th:text="| |">Date</td>
                        <td th:text="|${lecture.dateTime.getHour()}:${lecture.dateTime.getMinute()}|">Time</td>
                        <td th:text="${lecture.room}">Room</td>
                        <td th:text="${courseService.findCourseByLectureId(__${lecture.id}__).name}">Name</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function setHiddenFields() {
            let select = document.getElementById('personSelect');

            let role = select.value.substring(0, select.value.indexOf(' '));
            let id = select.value.substring(select.value.indexOf(' '));


            document.getElementById("inputId").value = id;
            document.getElementById("inputRole").value = role;
        }
    </script>
</div>
